.o_main_navbar {
    .o_license_project_systray {
        height: 100%;
        min-width: 0;
    }

    .o_license_project_systray_button {
        color: inherit;
        display: block;
        overflow: hidden;
        min-width: 0;
        max-width: 240px;
        line-height: var(--o-navbar-height);
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
    }
}

.o_license_project_table {
    th {
        width: 38%;
        background-color: $o-gray-100;
        white-space: nowrap;
    }

    td {
        word-break: break-word;
    }
}

.o_license_project_image {
    max-height: 70vh;
    object-fit: contain;
}
